body{
    background-color: black;
}
.iphone {
    width: 315px;
    height: 596px;
    border: 5px solid white;
    border-radius: 45px;
    opacity: 0.8;
    position: absolute;
    top: 10%;
    left: 35%;


    filter: url(#pixelate);

  }
  .screen {
    width: 283px;
    height: 475px;
    border: 3px solid white;
    border-radius: 5px;
    position: absolute;
    left: 36.3%;
    top: 113px;

  }  
  
  .home1 {
    width: 45px;
    height: 45px;
   border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 604px;
    left:44%;
    z-index: 2;
  }

.bubble-box {
    position: absolute;
    top: 135px;
    left: 38%;
    height:450px;
    display: flex;
  justify-content: flex-end;
  flex-direction: column;
  
  font-family: 'Share', cursive;
 
}


  .speech-bubble {
   
   
	position: relative;
    border: 3px solid white;
    background-color: whitesmoke;
    border-radius: .4em;
    
    animation-fill-mode: forwards !important;
    opacity: 0;
    
   
    
    
    
}

.bubble-box div {
    position:relative;
}

#firstMessage {
    animation:popUp1 300ms ease 1;
    animation-delay:300ms;
    width: 40px;
    height: 20px;
    margin-top:-20px;
    margin-right: 12px;
    margin-bottom: 0;
    
}
#secondMessage {
    animation:popUp2 300ms ease 1;
    animation-delay:1700ms;
    width: 150px;
    height: 55px;
    margin-top:-55px;
    margin-right: 12px;
}
#thirdMessage{
    animation:popUp3 300ms ease 1;
    animation-delay:3700ms;
    width: 102px;
    height: 20px;
    margin-top:-20px;
    margin-right: 12px;
}
#fourthMessage{
    animation:popUp4 300ms ease 1;
    animation-delay:5000ms;
    width: 166px;
    height: 55px;
    margin-top:-55px;
    margin-right: 12px;

}
#fifthMessage{
    animation:popUp5 300ms ease 1;
    animation-delay:6500ms;
    width: 131px;
    height: 20px;
    margin-top:-20px;
    margin-right: 12px;
}
#sixthMessage{
    animation:popUp6 300ms ease 1;
    animation-delay:8000ms;
    width: 180px;
    height: 74px;
    margin-top:-74px;
    margin-right: 12px;
}
#sevenMessage{
    animation:popUp7 300ms ease 1;
    animation-delay:9600ms;
    width: 69px;
    height: 20px;
    margin-top:-20px;
    margin-right: 12px;
}


@keyframes popUp1 {
    0% {
        margin:-20px 12px 0 0;
        opacity: 0;
    }
    100% {
        margin:0 12px 10px 0;
        opacity: 1;
    }
}
@keyframes popUp2 {
    0% {
        margin:-55px 12px 0 0;
       opacity: 0;
    }
    100% {
        margin:0 12px 10px 0;
        opacity: 1;
    }
}

@keyframes popUp3 {
    0% {
        margin:-20px 12px 0 0;
        opacity: 0;
    }
    100% {
        margin:0 12px 10px 0;
        opacity: 1;
    }
}

@keyframes popUp4 {
    0% {
        margin:-55px 12px 0 0;
        opacity: 0;
    }
    100% {
        margin:0 12px 10px 0;
        opacity: 1;
    }
}

@keyframes popUp5{
    0% {
        margin:-20px 12px 0 0;
        opacity: 0;
    }
    100% {
        margin:0 12px 10px 0;
        opacity: 1;
    }
}

@keyframes popUp6 {
    0% {
        margin:-74px 12px 0 0;
        opacity: 0;
    }
    100% {
        margin:0 12px 10px 0;
        opacity: 1;
    }
}
@keyframes popUp7 {
    0% {
        margin:-20px 12px 0 0;
        opacity: 0;
    }
    100% {
        margin:0 12px 10px 0;
        opacity: 1;
    }
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: whitesmoke;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -10px;
}
  
  