/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 200px;
	width: 410px;
	background: black;
	color: white;
	margin: 10px auto;
	padding: 10px;
	box-sizing: border-box;
	transition: all 500ms ease; 
	cursor: pointer;
}

/* example element 1 */

#element-1:hover {
	transform: rotate(90deg) scale(1.5);
	opacity: .3;
}

#element-1:active {
	background: pink;
	opacity: 1;
}

/* example element 2 */

#element-2::after {
	content: 'this is added after the content inside the element';
	color: white;
}


#element-2:hover::after {
	content: 'this text changes on hover';
	color: red;
}

/* example element 3 is changed only via js */

/* example element 4 */
#element-4.gradient-background {
	background: linear-gradient(blue, pink);
	color: transparent;
}

/* example element 5 */
.circle {
	border-radius: 125px;
}

/* example element 6 */
#element-6{
	transition: none; 
}


#element-7:hover{
	opacity: 0;
}

#element-8:active{
	transform: rotate(3600deg) scale(.2);
}	
#element-9:hover{
	transform: skew(60deg, 200deg);
}
#element-10{
	scroll-behavior: smooth;
	background-color: pink;

}

#element-11{
	scroll-behavior: smooth;
	background-color: rgb(192, 248, 255);

}
#element-12:active{
	transform: rotateY(180deg);
	background-color: rgb(243, 20, 243);
}



#element-13.shake {
	animation: shake 100ms infinite;
}

@keyframes shake {
	0% {
		transform: translate(0,0);
	}
	50% {
		transform: translate(2px,-3px);
	}
	100% {
		transform: translate(-3px,1px);
	}
}

#element-14.move {
	animation: move 600ms infinite;
}

@keyframes move {
	0% {
		transform: rotateX(10deg);
	}
	
	100% {
		transform: rotateX(360deg);
	}
}

#element-15:active{
	border-radius: 60%;
}

#element-16:hover{
	transition: 3s;
	height:20pt;
}
#element-17:hover{
	transition: 3s;
	height:500pt;
}
#element-18:hover{
	margin-top:100pt;
	margin-bottom:100pt;
}
#element-19:active{
	transform: scale(10);
	transition: 5s;
}

#element-20:active{
	position: relative;
      width: 54px;
      box-sizing: content-box;
      border-width: 50px 18px 0;
      border-style: solid;
      border-color: red transparent;
}

#element-21:hover{
	transform: perspective(200px) rotateY(360deg);
	
}

#element-22:active {
	animation: jump 500ms 1;
}

@keyframes jump {
	0% {
		transform: translate(0, -100px);
	}
	80% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(0,100px);
	}
}

#element-23:hover{
	animation: flash 100ms infinite;
}

@keyframes flash {
	0% {
		background-color: white;
		
	}
	100% {
		
		background-color: black;
	}
}

#element-24.flips {
	
	animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	background-image: url("../exesise/image/Yellowstone-National-Park-Wyoming.jpg")	;
	background-size:100%;	
	}
@keyframes flip-in-hor-top {
	0% {
	  transform: rotateX(-80deg);
			  transform: rotateX(-80deg);
	  opacity: 0;
	}
	100% {
	  transform: rotateX(0);
			  transform: rotateX(0);
	  opacity: 1;
	}
  }
  

  #element-26.beenHovered {
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

#element-25.cat{
	background-image: url("../exesise/image/safe_image.gif");
	background-size: 50%;
	
}
#element-27.beenclick {
animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        
}
  
@keyframes puff-in-center {
	0% {
	  transform: scale(2);
			  transform: scale(2);
	  filter: blur(2px);
			  filter: blur(2px);
	  opacity: 0;
	}
	100% {
	  transform: scale(1);
			  transform: scale(1);
	filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  
  #element-28.roll-in-left {
 animation: roll-in-left 0.6s ease-out both;
}
@keyframes roll-in-left {
	0% {
	 transform: translateX(-800px) rotate(-540deg);
			  transform: translateX(-800px) rotate(-540deg);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0) rotate(0deg);
			  transform: translateX(0) rotate(0deg);
	  opacity: 1;
	}
  }

  #element-29.roll-in-top {
	animation: roll-in-top 0.6s ease-out both;
}
@keyframes roll-in-top {
	0% {
	  transform: translateY(-800px) rotate(-540deg);
			  transform: translateY(-800px) rotate(-540deg);
	  opacity: 0;
	}
	100% {
	transform: translateY(0) rotate(0deg);
			  transform: translateY(0) rotate(0deg);
	  opacity: 1;
	}
  }
  
  #element-30.vibrate-1 {
	animation: vibrate-1 0.3s linear infinite ;
}
@keyframes vibrate-1 {
	0% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
			  border-radius: 10%;
	}
	20% {
	  -webkit-transform: translate(-2px, 2px);
			  transform: translate(-2px, 2px);
			  border-radius: 20%;
	}
	40% {
	  -webkit-transform: translate(-2px, -2px);
			  transform: translate(-2px, -2px);
			  border-radius: 40%;
	}
	60% {
	  -webkit-transform: translate(2px, 2px);
			  transform: translate(2px, 2px);
			  border-radius: 50%;
	}
	80% {
	  -webkit-transform: translate(2px, -2px);
			  transform: translate(2px, -2px);
			  border-radius: 50%;
	}
	100% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
			  border-radius: 50%;
	}
  }

  #element-31.vibrate-2 {
	animation: vibrate-2 0.3s linear infinite ;
}
@keyframes vibrate-2 {
	0% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
			  opacity: 0;
	}
	20% {
	  -webkit-transform: translate(-2px, 2px);
			  transform: translate(-2px, 2px);
			  border-radius: 20%;
			  opacity: 1;
	}
	40% {
	  -webkit-transform: translate(-2px, -2px);
			  transform: translate(-2px, -2px);
			  opacity: 0;
	}
	60% {
	  transform: translate(2px, 2px);
			  transform: translate(2px, 2px);
			  opacity: 1;
	}
	80% {
	  transform: translate(2px, -2px);
			  transform: translate(2px, -2px);
			  opacity: 0;
	}
	100% {
	  transform: translate(0);
			  transform: translate(0);
			  opacity: 1;
	}
  }

  #element-32.vibrate-3 {
	animation: vibrate-3 0.3s linear infinite ;
	background-image: url("../exesise/image/safe_image.gif");
	background-size: 100%;
}
@keyframes vibrate-3 {
	0% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
			  opacity: 0;
	}
	20% {
	  -webkit-transform: translate(-2px, 2px);
			  transform: translate(-2px, 2px);
			  border-radius: 20%;
			  opacity: 1;
	}
	40% {
	  -webkit-transform: translate(-2px, -2px);
			  transform: translate(-2px, -2px);
			  opacity: 0;
	}
	60% {
	  transform: translate(2px, 2px);
			  transform: translate(2px, 2px);
			  opacity: 1;
	}
	80% {
	  transform: translate(2px, -2px);
			  transform: translate(2px, -2px);
			  opacity: 0;
	}
	100% {
	  transform: translate(0);
			  transform: translate(0);
			  opacity: 1;
	}
  }

  #element-33.roll-in-left-cat {
	animation: roll-in-left-cat 0.6s ease-out both;
	background-image: url("../exesise/image/safe_image.gif");
	background-size: 100%;
   }
   @keyframes roll-in-left-cat {
	   0% {
		transform: translateX(-800px) rotate(-540deg);
				 transform: translateX(-800px) rotate(-540deg);
		 opacity: 0;
	   }
	   100% {
		 transform: translateX(0) rotate(0deg);
				 transform: translateX(0) rotate(0deg);
		 opacity: 1;
	   }
	 }

	 .box{
		 width:100px;
		 height:100px;
		 background-color:gray;
	 }
	 #roll{
		 margin-top:20pt;
		 margin-left:110pt;
	 }

	 #roll  {
		animation: roll-in-left-cat-1 0.6s ease-out ;
		background-image: url("../exesise/image/safe_image.gif");
		background-size: 100%;
		
	   }
	   @keyframes roll-in-left-cat-1 {
		   0% {
			transform: translateX(-800px) rotate(-540deg);
					 transform: translateX(-800px) rotate(-540deg);
			 opacity: 0;
		   }
		   100% {
			 transform: translateX(0) rotate(0deg);
					 transform: translateX(0) rotate(0deg);
			 opacity: 1;
		   }
		 }

		 #element-35.jello-horizontal {
			
					animation: jello-horizontal 0.9s both;
		}

		@keyframes jello-horizontal {
			0% {
			  -webkit-transform: scale3d(1, 1, 1);
					  transform: scale3d(1, 1, 1);
			}
			30% {
			  -webkit-transform: scale3d(1.25, 0.75, 1);
					  transform: scale3d(1.25, 0.75, 1);
			}
			40% {
			  -webkit-transform: scale3d(0.75, 1.25, 1);
					  transform: scale3d(0.75, 1.25, 1);
			}
			50% {
			  -webkit-transform: scale3d(1.15, 0.85, 1);
					  transform: scale3d(1.15, 0.85, 1);
			}
			65% {
			  -webkit-transform: scale3d(0.95, 1.05, 1);
					  transform: scale3d(0.95, 1.05, 1);
			}
			75% {
			  -webkit-transform: scale3d(1.05, 0.95, 1);
					  transform: scale3d(1.05, 0.95, 1);
			}
			100% {
			  -webkit-transform: scale3d(1, 1, 1);
					  transform: scale3d(1, 1, 1);
			}
		  }
		  
		  #element-36{
			background-color: rgb(235, 192, 255);
			border-radius: 10%;
		  }
		  #element-36.jello-diagonal-1 {
		

					animation: jello-diagonal-1 0.8s infinite;
		}
		@keyframes jello-diagonal-1 {
			0% {
			  -webkit-transform: skew(0deg 0deg);
					  transform: skew(0deg 0deg);
			}
			30% {
			  -webkit-transform: skew(25deg 25deg);
					  transform: skew(25deg 25deg);
			}
			40% {
			  -webkit-transform: skew(-15deg, -15deg);
					  transform: skew(-15deg, -15deg);
			}
			50% {
			  -webkit-transform: skew(15deg, 15deg);
					  transform: skew(15deg, 15deg);
			}
			65% {
			  -webkit-transform: skew(-5deg, -5deg);
					  transform: skew(-5deg, -5deg);
			}
			75% {
			  -webkit-transform: skew(5deg, 5deg);
					  transform: skew(5deg, 5deg);
			}
			100% {
			  -webkit-transform: skew(0deg 0deg);
					  transform: skew(0deg 0deg);
			}
		  }

		  #element-37.bg-pan-left {
			
					animation: bg-pan-left 8s both;
		}
		@keyframes bg-pan-left {
			0% {
			  background-position: 100% 50%;
			  background-color: rgb(235, 192, 255);
			
			}
			100% {
			  background-position: 0% 50%;
			  background-color: rgb(149, 235, 163);
			
			}
		  }

		  #element-38{
			background-color: rgb(209, 192, 255);
			
		  }
		  #element-38.shadow-inset-center {
			
					animation: shadow-inset-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}
		@keyframes shadow-inset-center {
			0% {
			  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
					  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
			}
			100% {
			  -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 2);
					  box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 2);
			}
		  }

		  #element-39.slide-rotate-ver-l-bck {
			
					animation: slide-rotate-ver-l-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		}
		@keyframes slide-rotate-ver-l-bck {
			0% {
			  -webkit-transform: translateX(0) translateZ(0) rotateY(0);
					  transform: translateX(0) translateZ(0) rotateY(0);
			  -webkit-transform-origin: center left;
					  transform-origin: center left;
			}
			100% {
			  -webkit-transform: translateX(-150px) translateZ(-230px) rotateY(90deg);
					  transform: translateX(-150px) translateZ(-230px) rotateY(90deg);
			  -webkit-transform-origin: center left;
					  transform-origin: center left;
			}
		  }

		  #element-40.swing-top-left-fwd {
			
					animation: swing-top-left-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}
		@keyframes swing-top-left-fwd {
			0% {
			  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
					  transform: rotate3d(-1, 1, 0, 0deg);
			  -webkit-transform-origin: 0% 0%;
					  transform-origin: 0% 0%;
			}
			100% {
			  -webkit-transform: rotate3d(-1, 1, 0, -180deg);
					  transform: rotate3d(-1, 1, 0, -180deg);
			  -webkit-transform-origin: 0% 0%;
					  transform-origin: 0% 0%;
					  width:100px;
			}
		  }

		#element-41.roll-out-blurred-left {
			
					animation: roll-out-blurred-left 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
		}
		@keyframes roll-out-blurred-left {
			0% {
			  transform: translateX(0) rotate(0deg);
					  transform: translateX(0) rotate(0deg);
			 filter: blur(0);
					  filter: blur(0);
			  opacity: 1;
			}
			100% {
			  transform: translateX(-1000px) rotate(-720deg);
					  transform: translateX(-1000px) rotate(-720deg);
		filter: blur(50px);
					  filter: blur(50px);
			  opacity: 0;
			}
		  }

		  #element-42.fade-out-bck {
			
					animation: fade-out-bck 01.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}
		@keyframes fade-out-bck {
			0% {
			  -webkit-transform: translateZ(0);
					  transform: translateZ(0);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: translateZ(-80px);
					  transform: translateZ(-80px);
			  opacity: 0;
			}
		  }
		  
		  #element-43.scale-out-left {
			background-image: url("../exesise/image/safe_image.gif");
			background-size: 110%;
			animation: scale-out-left 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
		}	  
		@keyframes scale-out-left {
			0% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			  -webkit-transform-origin: 0% 50%;
					  transform-origin: 0% 50%;
			  opacity: 1;
			}
			100% {
			  -webkit-transform: scale(0);
					  transform: scale(0);
			  -webkit-transform-origin: 0% 50%;
					  transform-origin: 0% 50%;
			  opacity: 1;
			}
		  }

		  #element-44.slit-out-diagonal-2 {
			animation: slit-out-diagonal-2 0.5s ease-in both;
		}
		@keyframes slit-out-diagonal-2 {
			0% {
			  -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
					  transform: translateZ(0) rotate3d(-1, 1, 0, 0);
			  opacity: 1;
			}
			54% {
			  -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
					  transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
					  transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
			  opacity: 0;
			}
		  }

		  #element-45.slit-out-diagonal-3 {
			animation: slit-out-diagonal-3 0.5s ease-in both;
		}
		@keyframes slit-out-diagonal-3 {
			0% {
			  -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
					  transform: translateZ(0) rotate3d(-1, 1, 0, 0);
			  opacity: 1;
			}
			54% {
			  -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
					  transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
					  background-color: gold;
			  opacity: 1;
			}
			100% {
			  -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
					  transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
					  background-color: rgb(88, 236, 236);
			  opacity: 0;
			}
		  }

		  #element-46.slide-out-fwd-center {
			animation: slide-out-fwd-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			background-image: url("../exesise/image/Yellowstone-National-Park-Wyoming.jpg");
			background-size: 100%;
		  }
		@keyframes slide-out-fwd-center {
			0% {
			  -webkit-transform: translateZ(1);
					  transform: translateZ(1);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: translateZ(600px);
					  transform: translateZ(600px);
			  opacity: 0;
			}
		  }
		  
		 
		  #element-47.wobble-hor-bottom {
			
					animation: wobble-hor-bottom 0.8s both;
					background-image: url("../exesise/image/safe_image.gif");
			background-size: 110%;
		}
		@keyframes wobble-hor-bottom {
			0%,
			100% {
			  -webkit-transform: translateX(0%);
					  transform: translateX(0%);
			  -webkit-transform-origin: 50% 50%;
					  transform-origin: 50% 50%;
			}
			15% {
			  -webkit-transform: translateX(-30px) rotate(-6deg);
					  transform: translateX(-30px) rotate(-6deg);
			}
			30% {
			  -webkit-transform: translateX(15px) rotate(6deg);
					  transform: translateX(15px) rotate(6deg);
			}
			45% {
			  -webkit-transform: translateX(-15px) rotate(-3.6deg);
					  transform: translateX(-15px) rotate(-3.6deg);
			}
			60% {
			  -webkit-transform: translateX(9px) rotate(2.4deg);
					  transform: translateX(9px) rotate(2.4deg);
			}
			75% {
			  -webkit-transform: translateX(-6px) rotate(-1.2deg);
					  transform: translateX(-6px) rotate(-1.2deg);
			}
		  }
		  
		  #element-48.bounce-top {
		
					animation: bounce-top 1s both;
		}
		  
		@keyframes bounce-top {
			0% {
			  -webkit-transform: translateY(-45px);
					  transform: translateY(-45px);
			  -webkit-animation-timing-function: ease-in;
					  animation-timing-function: ease-in;
			  opacity: 1;
			}
			24% {
			  opacity: 1;
			}
			40% {
			  -webkit-transform: translateY(-24px);
					  transform: translateY(-24px);
			  -webkit-animation-timing-function: ease-in;
					  animation-timing-function: ease-in;
			}
			65% {
			  -webkit-transform: translateY(-12px);
					  transform: translateY(-12px);
			  -webkit-animation-timing-function: ease-in;
					  animation-timing-function: ease-in;
			}
			82% {
			  -webkit-transform: translateY(-6px);
					  transform: translateY(-6px);
			  -webkit-animation-timing-function: ease-in;
					  animation-timing-function: ease-in;
			}
			93% {
			  -webkit-transform: translateY(-4px);
					  transform: translateY(-4px);
			  -webkit-animation-timing-function: ease-in;
					  animation-timing-function: ease-in;
			}
			25%,
			55%,
			75%,
			87% {
			  -webkit-transform: translateY(0px);
					  transform: translateY(0px);
			  -webkit-animation-timing-function: ease-out;
					  animation-timing-function: ease-out;
			}
			100% {
			  -webkit-transform: translateY(0px);
					  transform: translateY(0px);
			  -webkit-animation-timing-function: ease-out;
					  animation-timing-function: ease-out;
			  opacity: 1;
			}
		  }
		  
		  #element-49.pulsate-fwd {
			background-image: url("../exesise/image/safe_image.gif");
			background-size: 30%;
					animation: pulsate-fwd 0.5s ease-in-out infinite both;
		}
		@-webkit-keyframes pulsate-fwd {
			0% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			}
			50% {
			  -webkit-transform: scale(1.1);
					  transform: scale(1.1);
			}
			100% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			}
		  }
		  @keyframes pulsate-fwd {
			0% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			}
			50% {
			  -webkit-transform: scale(1.1);
					  transform: scale(1.1);
			}
			100% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			}
		  }
		  
		  #element-50.heartbeat {
			background-color:rgb(243, 83, 20);
					animation: heartbeat 1.5s ease-in-out infinite both;
		}
		@keyframes heartbeat {
			from {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			  -webkit-transform-origin: center center;
					  transform-origin: center center;
			  -webkit-animation-timing-function: ease-out;
					  animation-timing-function: ease-out;
			}
			10% {
			  -webkit-transform: scale(0.91);
					  transform: scale(0.91);
			  -webkit-animation-timing-function: ease-in;
					  animation-timing-function: ease-in;
			}
			17% {
			  -webkit-transform: scale(0.98);
					  transform: scale(0.98);
			  -webkit-animation-timing-function: ease-out;
					  animation-timing-function: ease-out;
			}
			33% {
			  -webkit-transform: scale(0.87);
					  transform: scale(0.87);
			  -webkit-animation-timing-function: ease-in;
					  animation-timing-function: ease-in;
			}
			45% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			  -webkit-animation-timing-function: ease-out;
					  animation-timing-function: ease-out;
			}
		  }
		  
		  #element-49.pulsate-fwd {
			background-image: url("../exesise/image/safe_image.gif");
			background-size: 100%;
					animation: pulsate-fwd 0.5s ease-in-out infinite both;
		}
		  #element-51{
			overflow: scroll;
			
			size: 100%;
		  }

		  #ima{
			width:170pt;
		  }
		  
		  #element-52.kenburns-top {
			-webkit-animation: kenburns-top 5s ease-out both;
					animation: kenburns-top 5s ease-out both;
		}
		@keyframes kenburns-top {
			0% {
			  -webkit-transform: scale(1) translateY(0);
					  transform: scale(1) translateY(0);
			  -webkit-transform-origin: 50% 16%;
					  transform-origin: 50% 16%;
			}
			100% {
			  -webkit-transform: scale(1.25) translateY(-15px);
					  transform: scale(1.25) translateY(-15px);
			  -webkit-transform-origin: top;
					  transform-origin: top;
			}
		  }
		  
		  #element-53.color-change-4x {
			
					animation: color-change-4x 6s linear infinite alternate both;
		}
		@keyframes color-change-4x {
			0% {
			  background: #75dbe2;
			}
			33.3333% {
			  background: #a955da;
			}
			66.666% {
			  background: #ec5bc8;
			}
			100% {
			  background: #fad763;
			}
		  }

		  #element-54.slide-out-blurred-tl {
			-webkit-animation: slide-out-blurred-tl 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
					animation: slide-out-blurred-tl 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
		}
		@keyframes slide-out-blurred-tl {
			0% {
			  -webkit-transform: translate(0, 0) skew(0deg, 0deg);
					  transform: translate(0, 0) skew(0deg, 0deg);
			  -webkit-transform-origin: 50% 50%;
					  transform-origin: 50% 50%;
			  -webkit-filter: blur(0);
					  filter: blur(0);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
					  transform: translate(-1000px, -1000px) skew(80deg, 10deg);
			  -webkit-transform-origin: 100% 0%;
					  transform-origin: 100% 0%;
			  -webkit-filter: blur(40px);
					  filter: blur(40px);
			  opacity: 0;
			}
		  }

		  #element-55.slide-out-blurred-tl-cat {
			background-image: url("../exesise/image/safe_image.gif");
			background-size: 100%;
					animation: slide-out-blurred-tl-cat 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
		}
		@keyframes slide-out-blurred-tl-cat {
			0% {
			  -webkit-transform: translate(0, 0) skew(0deg, 0deg);
					  transform: translate(0, 0) skew(0deg, 0deg);
			  -webkit-transform-origin: 50% 50%;
					  transform-origin: 50% 50%;
			  -webkit-filter: blur(0);
					  filter: blur(0);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
					  transform: translate(-1000px, -1000px) skew(80deg, 10deg);
			  -webkit-transform-origin: 100% 0%;
					  transform-origin: 100% 0%;
			  -webkit-filter: blur(40px);
					  filter: blur(40px);
			  opacity: 0;
			}
		  }

		  #element-56.slide-out-blurred-bottom {
			-webkit-animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
					animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
		}
		@keyframes slide-out-blurred-bottom {
			0% {
			  -webkit-transform: translateY(0) scaleY(1) scaleX(1);
					  transform: translateY(0) scaleY(1) scaleX(1);
			  -webkit-transform-origin: 50% 50%;
					  transform-origin: 50% 50%;
			  -webkit-filter: blur(0);
					  filter: blur(0);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
					  transform: translateY(1000px) scaleY(2) scaleX(0.2);
			  -webkit-transform-origin: 50% 100%;
					  transform-origin: 50% 100%;
			  -webkit-filter: blur(40px);
					  filter: blur(40px);
			  opacity: 0;
			}
		  }
		  
		  
		  